<%= form_with(model: @blog,local: true,html: {multipart: true}, url: choose_new_or_edit ) do |f|%>
    <% if @blog.errors.any? %>
        <div class="error_explanation">
            <h2><%= @blog.errors.count%> errors occured!!</h2>
            <ul>
                <% @blog.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end%>
    <br>
    
  <!--<div class="field form-group row"><br>-->
  <!-- <%= f.label:name, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>-->
  <!--  <div class="col-sm-10">-->
  <!--    <%= f.text_field:name, class: 'form-control' %>-->
  <!--  </div>-->
  <!--</div>-->
  <!--<div class="field form-group row">-->
  <!--  <%= f.label:email, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>-->
  <!--  <div class="col-sm-10">-->
  <!--    <%= f.text_field:email, class: 'form-control' %>-->
  <!--  </div>-->
  <!--</div>-->
  <div class="field form-group row">
    <%= f.label:content, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-10">
      <%= f.text_area:content, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group row">
    <%= f.label :image , class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px'%>
    <%= f.file_field :image, id: :blog_image %>
    <%= f.hidden_field :image_cache %>
  </div>
  <div style="text-align:center">
      <%= link_to blogs_path , class: 'btn btn-success btn-list', style:'width:200px' do%>
          <i class="glyphicon glyphicon-list"></i> View list of blog
      <% end %>
       <%= f.submit 'Save', class: 'btn btn-primary btn-save', style:'width:200px' %>
  </div>
<% end %>