<h1>Blog details</h1>
<p>Name: <%=@blog.name%></p>
<p>Email: <%=@blog.email%></p>
<p>Content: <%=@blog.content%></p>
<%= form_with(model: @blog, url: blogs_path, local: true, method: 'get') do |form| %>
<%= form.submit "Back", name: 'back' ,class:'btn btn-info',style:'float:left;margin-right:30px'%>
<%end%>

  <% unless @blog.name == current_user %>
    <% if @favorite.present? %>
      <%= link_to 'Cancel favorites', favorite_path(blog_id: @blog.id), method: :delete, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'To favorite', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>