<br><br>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>  
<div class="field form-group row"><br>
   
   <div class="col-sm-2">
     </div>
     <%= f.label :name, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
 

<div class="field form-group row"><br>
   
   <div class="col-sm-2">
     </div>
     <%= f.label :email, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
<div class="field form-group row"><br>
   
   <div class="col-sm-2">
     </div>
     <%= f.label :password, class: 'col-sm-2 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  <div class="field form-group row"><br>
   
   <div class="col-sm-1">
     </div>
     <%= f.label :password_confirmation, class: 'col-sm-3 control-label', style:'text-align:right;margin-top:7px' %>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <div class="col-sm-2">
     </div>
  </div>
  <div style="text-align:center">
      <%= f.submit 'Sign Up', class: 'btn btn-primary btn-save', style:'width:300px;margin-left:200px' %>
  </div>
<% end %>